<section class="thin-div">
  <div class="center">Related links:</div>
</section>

<section class="dont-miss">
    <div class="story">
      <div class="padded">
      <a href="http://www.sfchronicle.com/giants/article/Giants-lose-in-11-swept-by-Marlins-to-end-the-11276331.php">
        <img src="http://ww1.hdnux.com/photos/62/04/51/13126228/3/premium_landscape.jpg"></img>
      </a>
      <a href="http://www.sfchronicle.com/giants/article/Giants-lose-in-11-swept-by-Marlins-to-end-the-11276331.php">
        <div>S.F. swept as terrible 2017 first half ends</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://www.sfchronicle.com/giants/article/After-terrible-start-have-the-Giants-turned-the-11157714.php">
        <img src="http://ww4.hdnux.com/photos/55/14/64/11848995/3/premium_landscape.jpg"></img>
      </a>
      <a href="http://www.sfchronicle.com/giants/article/After-terrible-start-have-the-Giants-turned-the-11157714.php">
        <div>Doomed from the start: A six-week stretch ‘like no other</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://www.sfchronicle.com/giants/article/Giants-midseason-report-Tops-in-majors-despite-8379318.php">
        <img src="http://ww3.hdnux.com/photos/55/62/15/12002166/4/premium_landscape.jpg"></img>
      </a>
      <a href="http://www.sfchronicle.com/giants/article/Giants-midseason-report-Tops-in-majors-despite-8379318.php">
        <div>Giants’ 2016 midseason report: Tops in majors, despite injuries</div>
      </a>
      </div>
    </div>
</section>