<section class="thin-div">
  <div class="center">Related links:</div>
</section>

<section class="dont-miss">
    <div class="story">
      <div class="padded">
      <a href="http://www.sfchronicle.com/giants/article/Giants-lose-in-11-swept-by-Marlins-to-end-the-11276331.php" target="_blank">
        <img src="http://ww2.hdnux.com/photos/62/31/41/13211761/3/premium_landscape.jpg"></img>
      </a>
      <a href="http://www.sfchronicle.com/giants/article/Giants-lose-in-11-swept-by-Marlins-to-end-the-11276331.php" target="_blank">
        <div>S.F. swept as terrible 2017 first half ends</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://www.sfchronicle.com/giants/article/After-terrible-start-have-the-Giants-turned-the-11157714.php" target="_blank">
        <img src="http://ww2.hdnux.com/photos/61/23/04/12923181/5/premium_landscape.jpg"></img>
      </a>
      <a href="http://www.sfchronicle.com/giants/article/After-terrible-start-have-the-Giants-turned-the-11157714.php" target="_blank">
        <div>Doomed from the start: A six-week stretch ‘like no other</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://www.sfchronicle.com/giants/article/Giants-midseason-report-Tops-in-majors-despite-8379318.php" target="_blank">
        <img src="http://ww1.hdnux.com/photos/50/07/12/10515096/5/premium_landscape.jpg"></img>
      </a>
      <a href="http://www.sfchronicle.com/giants/article/Giants-midseason-report-Tops-in-majors-despite-8379318.php" target="_blank">
        <div>Giants’ 2016 midseason report: Tops in majors, despite injuries</div>
      </a>
      </div>
    </div>
</section>