.charts-container {
	.flex-wrap(wrap);
	.display-flex;
    .justify-content(center);
    margin-left: 2em;
    margin-right: 2em;
}

.chart {
	.flex(0 0 33%);
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	
}

.title {
	font-size: 30px;
	margin-top: 50px;
}

.title-deck {
	font-size: 18px;
	text-align: center;
}

.chart-title, .chart-deck {
	text-align: center;

}

.chart-title {
	font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
	// font-weight: bold;
	padding-top: 30px;
	padding-bottom: 10px;
}

.chart-deck {
	font-family: "AntennaExtraLight", Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	height: 7em;
}



.line {
	fill: none;
	stroke-width: 2.5px;
	stroke: #FE5A1D;
}

.tick {
	text {
		font-size: 11px;
	}
}

.axis-label {
	font-size: 12px;
}

.bigger-axis-label {
	font-size: 16px;

	
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.overlay { 
	fill: none;
	pointer-events: all;
}

.multiline-container {
	width: 100%;
	margin-bottom: 50px;
}

._line {
	fill: none;
	stroke-width: 1px;
	stroke: #C0C0C0;
}



