<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

  <div class="outer">
    <div class="top-container">
      <div class="image-container"><img class="head-image" src="./assets/sinkinggiants2.png"></img><div class="img-credit">John Blanchard / The Chronicle</div></div>
      <div class="title">That sinking feeling</div>
      <div class="title-deck">It’s been a long year for the Giants</div>
      <div class="author">By Mike Massa</div>
      <div class="date">July 11, 2017</div>
    </div>


  </div>

  <% var data = csv.winning_percentage %>

  <div class="charts-container">

    <div class="giants-text">
      <p>A year ago at the All-Star break, the Giants had the best record in Major League Baseball at 57-33, and fans were dreaming of another even-year parade through downtown San Francisco. But the past 12 months haven’t been kind. The team slumped in the second half of 2016, held on to make the playoffs as a wild-card team, and have been firmly planted in last place in the National League West for much of 2017.</p>

      <p>In 162 games played from last year’s All-Star break to this year’s break &mdash; the equivalent of a full regular season &mdash; the Giants have gone 64-98. They set a franchise record with 56 losses before the break, and currently own the second-worst record in baseball.</p> 

      <p>This chart shows how far they’ve fallen from their perch atop the league last year.</p>
    </div>

    <div class="multiline-container">

      <div class="multiline-title">Game-by-game results since the 2016 All-Star break</div>
      <div class="multiline-deck desktop-chatter"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Hover over each line to see the team name and its current record.</div>
      <div class="multiline-deck mobile-chatter"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Click on each line to see the team name and its current record.</div>

      <div class="select-container">
          <div class="select-text">Or, pick a team: </div>
          <select id="years" autocomplete="off">
              <option value="As">A's</option>
              <option value="Angels">Angels</option>
              <option value="Astros">Astros</option>
              <option value="BlueJays">Blue Jays</option>
              <option value="Braves">Braves</option>
              <option value="Brewers">Brewers</option>
              <option value="Cardinals">Cardinals</option>
              <option value="Cubs">Cubs</option>
              <option value="Dbacks">Diamondbacks</option>
              <option value="Dodgers">Dodgers</option>
              <option value="Giants">Giants</option>
              <option value="Indians">Indians</option>
              <option value="Mariners">Mariners</option>
              <option value="Marlins">Marlins</option>
              <option value="Mets">Mets</option>
              <option value="Nationals">Nationals</option>
              <option value="Orioles">Orioles</option>
              <option value="Padres">Padres</option>
              <option value="Phillies">Phillies</option>
              <option value="Pirates">Pirates</option>
              <option value="Rangers">Rangers</option>
              <option value="Rays">Rays</option>
              <option value="Reds">Reds</option>
              <option value="RedSox">Red Sox</option>
              <option value="Rockies">Rockies</option>
              <option value="Royals">Royals</option>
              <option value="Tigers">Tigers</option>
              <option value="Twins">Twins</option>
              <option value="WhiteSox">White Sox</option>
              <option value="Yankees">Yankees</option>
          </select>
        </div>
      <div id="multiline-chart"></div>
    </div>

    <div class="giants-text middle">
      <p>A look inside the numbers shows the fall is no fluke. The following charts break down team stats based on pre-All-Star break and post-All-Star break numbers from 2016 and 2017.</p>
    </div>

    <div class="chart" id="chart0">
      <div class="chart-title">Winning percentage</div>
      <div class="chart-deck">The Giants have gone from 102-win pace at the break last year to losing 98 of their next 162 games.</div>
    </div>

    <div class="chart" id="chart1">
      <div class="chart-title">Runs per game</div>
      <div class="chart-deck">If it seems like the offense has gotten worse, it’s because it has &mdash; by nearly a full run per game.</div>
    </div>

    <div class="chart" id="chart2">
      <div class="chart-title">Batting average</div>
      <div class="chart-deck">Imagine if Buster Posey was slumping like the rest of the team.</div>
    </div>

    <div class="chart" id="chart3">
      <div class="chart-title">Home runs per game</div>
      <div class="chart-deck">Yes, the Giants are last in the league in homers, but they weren’t any better in the first half last year when they were winning.</div>
    </div>

    <div class="chart" id="chart4">
      <div class="chart-title">OPS</div>
      <div class="chart-deck">Like runs per game, on-base plus slugging percentage is another stat that illustrates the offense’s dramatic decline.</div>
    </div>

    <div class="chart" id="chart5">
      <div class="chart-title">Team ERA</div>
      <div class="chart-deck">Starting pitching is supposed to be the Giants’ strength. But when the starting rotation has a combined earned run average around 5.00 and the offense scores less than four runs per game, it’s no wonder the Giants are at the bottom of the standings.</div>
    </div>
  </div>

  <div class="divider"></div>
  <div class="credits">
    <div class="entry"><div>Research and writing: </div>Mike Massa  &bull; <a href="mailto:mmassa@sfchronicle.com">mmassa@sfchronicle.com</a></div> 

    <div class="entry"><div>Assistant Sports Editor: </div>Janny Hu  &bull; <a href="mailto:jhu@sfchronicle.com">jhu@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/janny_hu" target="_blank">@janny_hu</a></div>
    
    <div class="entry"><div>Interactive Producer: </div>Jackie Gu  &bull; <a href="mailto:jgu@sfchronicle.com">jgu@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/jqlngu" target="_blank">@jqlngu</a></div>
  </div>

  <%= t.include("partials/_dontMiss.html") %>
 

  <script>
      var winningData = <%= JSON.stringify(csv.winning_percentage) %>;
      var runsData = <%= JSON.stringify(csv.runs) %>;
      var battingData = <%= JSON.stringify(csv.batting) %>;
      var homerunsData = <%= JSON.stringify(csv.homeruns) %>;
      var opsData = <%= JSON.stringify(csv.ops) %>;
      var eraData = <%= JSON.stringify(csv.era) %>;

      var allTeamsData = <%= JSON.stringify(csv.post_allstar_transpose_2) %>;
    </script>

    <%= t.include("partials/_nav.html") %>


    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
