<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

  <div class="outer">
    <div class="top-container">
      <div class="title">It's been a long year</div>
      <div class="title-deck">A year ago at the All-Star break, the Giants had the best record in baseball and fans were dreaming of another even-year parade through downtown San Francisco.</div>
      <div class="author">By Mike Massa</div>
      <div class="date">July 11, 2017</div>
    </div>


  </div>

  <% var data = csv.winning_percentage %>

  <div class="charts-container">

    <div class="chart" id="winning">
      <div class="chart-title">Winning percentage</div>
      <div class="chart-deck">From 102-win pace at the break last year to losing nearly 100 games in the span of a season.</div>
    </div>

    <div class="chart" id="runs">
      <div class="chart-title">Runs per game</div>
      <div class="chart-deck">If it seems like the offense has gotten worse, it’s because it has -- by nearly a full run per game.</div>
    </div>

    <div class="chart" id="batting">
      <div class="chart-title">Batting average</div>
      <div class="chart-deck">Imagine if Buster Posey was slumping like the rest of the team.</div>
    </div>

  </div>

    <%= t.include("partials/_nav.html") %>


    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
