<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

  <div class="outer">
    <div class="top-container">
      <div class="title">It's been a long year</div>
      <div class="title-deck">A year ago at the All-Star break, the Giants had the best record in baseball and fans were dreaming of another even-year parade through downtown San Francisco.</div>
      <div class="author">By Mike Massa</div>
      <div class="date">July 11, 2017</div>
    </div>


  </div>

  <% var data = csv.winning_percentage %>

  <div class="charts-container">

    <div class="chart" id="chart0">
      <div class="chart-title">Winning percentage</div>
      <div class="chart-deck">From 102-win pace at the break last year to losing nearly 100 games in the span of a season.</div>
    </div>

    <div class="chart" id="chart1">
      <div class="chart-title">Runs per game</div>
      <div class="chart-deck">If it seems like the offense has gotten worse, it’s because it has -- by nearly a full run per game.</div>
    </div>

    <div class="chart" id="chart2">
      <div class="chart-title">Batting average</div>
      <div class="chart-deck">Imagine if Buster Posey was slumping like the rest of the team.</div>
    </div>

    <div class="chart" id="chart3">
      <div class="chart-title">Home runs per game</div>
      <div class="chart-deck">Yes, the Giants are last in the league in homers, but they weren’t any better in the first half last year when they were winning.</div>
    </div>

    <div class="chart" id="chart4">
      <div class="chart-title">OPS</div>
      <div class="chart-deck">Like the runs per game, this is another stat that illustrates the offense’s dramatic decline.</div>
    </div>

    <div class="chart" id="chart5">
      <div class="chart-title">Team ERA</div>
      <div class="chart-deck">Starting pitching is supposed to be the strength of the team. But when the starting five have an ERA hovering around 5.00 and the offense scores less than four runs per game, it’s no wonder they’re at the bottom of the standings.</div>
    </div>

  </div>

  <script>
      var winningData = <%= JSON.stringify(csv.winning_percentage) %>;
      var runsData = <%= JSON.stringify(csv.runs) %>;
      var battingData = <%= JSON.stringify(csv.batting) %>;
      var homerunsData = <%= JSON.stringify(csv.homeruns) %>;
      var opsData = <%= JSON.stringify(csv.ops) %>;
      var eraData = <%= JSON.stringify(csv.era) %>;
    </script>

    <%= t.include("partials/_nav.html") %>


    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
